@import '../../../assets.scss';

div{
    border-radius: 3px;
    padding-top: 100%;
    background-color: $light;
    box-shadow: inset 0 0 5px $dark-blue;
    &.alive{
        background-color: $green;
    }
    &.disabled{
        cursor: not-allowed;
    }
}