<div>
    <gol-cell state="alive"></gol-cell>
    <gol-cell state="death"></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>
    <gol-cell></gol-cell>

</div>