@import '../../../assets.scss';

.header--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    &>.header--action {
        // background-color: red;
        flex-grow: 0.5;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        padding: 0 10px;

        &>button {
            height: 40px;
            aspect-ratio: 1;
            border-radius: 20px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $dark-green;
            box-shadow: 5px 5px 10px #3c5826, -5px -5px 10px #527834;

            &:hover {
                background: linear-gradient(145deg, #4c6f30, #405e29);
                box-shadow: 5px 5px 10px #3c5826, -5px -5px 10px #527834;

                & svg {
                    transform: scale(105%)
                }
            }

            &:active {
                box-shadow: inset 5px 5px 10px #3c5826, inset -5px -5px 10px #527834;

                & svg {
                    transform: scale(95%)
                }
            }

            & svg {
                fill: $light
            }
        }
    }
}