@import '../../../assets.scss';

.header--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    &>.header--action {
        flex-grow: 0.5;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        padding: 0 10px;
    }
}

gol-button {
    & b {
        cursor: not-allowed;
        color: $light
    }
}