/* You can add global styles to this file, and also import other style files */
@import './assets.scss';

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: $dark-blue;
}

h1,
h2 {
    background-color: $dark-green;
    color: $light;
    margin: 0;
}

label,
span {
    color: $dark-blue;
}

app-root {
    display: flex;
    justify-content: center;
}

input[type='range'] {
    accent-color: $green;
    width: 100%;
    min-width: 250px;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
}

button {
    &:disabled:hover {
        cursor: not-allowed;

        & svg {
            cursor: not-allowed;
            transform: rotate(15deg)
        }
    }

    &>svg {
        fill: $light;
    }

    &:not(:disabled) {
        &:hover {
            & svg {
                transform: scale(105%)
            }
        }

        &:active {
            & svg {
                transform: scale(95%)
            }
        }
    }

    &:disabled>svg {
        fill: $green;
    }
}