<div class="modal" [ngStyle]="{display: isOpen ? 'flex' : 'none'}">
    <div class="modal__mask" (click)="close()"></div>

    <div class="modal__container">
        <div class="modal__container--header">
            <ng-content select="[header]"></ng-content>
            
            <div class="modal__container--action">
                <ng-content select="[action]"></ng-content>
            </div>
        </div>
        
        <div class="modal__container--body">
            <ng-content select="[body]"></ng-content>
        </div>
    </div>
</div>